extends layout

block content
  div.main
    div.container
      h1= league.name
      div.col-md-6#draft
        div.padding-6
          div#predraft
            button#start_draft(disabled) Start Draft
            span#ready_users 
              i Not enough users to start draft.
            div
              ul
                each player in league.players
                  li
                    a(href=player.url)= player.name
          div#active_draft(style= 'display: none')
            form(class='form-horizontal' role='form' name='draft' action='')
              div.form-group
                select.form-control#players(size=10)
                  each player in league.players
                    option(value='#{player.name}')= player.name
            button#pick(disabled) Pick Selected Topic
            span#currentTurn
            .row
              div.col-md-6
                h3 My team
                ol#myTeam
      div.col-md-6#chatdiv
        div.padding-6
          .row 
            p#users
            div#messagediv
              if !login
                span Please log in to chat.
              ul#messages
            div#chat_submit
              form#chat(action='')
                input#message_input(autocomplete='off')
                button#message_button Send
  script(src='/javascripts/draft.js')