extends layout

block content
  div.main
    div.container#container
      div.col-md-8
        h1 Fantasy Twitter
        a(href='/new') New League
        p
        div.left
          if leagues
            ul
              each league in leagues
                li
                  a(href='/draft/'+league.id)= league.name + " draft"
                li
                  a(href='/leagues/'+league.id)= league.name
      div.col-md-4#chatdiv
        div#messagediv
          ul#messages
            li asdfhsdoifha
        form#chat(action='')
          input#message(autocomplete='off')
          button Send    
  script(src='/javascripts/app.js')