extends layout

block content
  div.main
    div.container
      h1 League Settings
      form(action='/new' method='post')
        div
          label(for='name') League name: 
          input(id='name' name='name')
        div
          label(for='players') How many participants?
          select(name='size' id='players')
            option 2
            option 3
            option 4
        div
          label(for='duration') Duration
          select(name='duration' id='duration')
            option(value='2') 2 Minutes
            option(value='5') 5 Minutes
            option(value='30') 30 Minutes
            option(value='60') 1 Hour
            option(value='1440') 24 Hours
        div
          input(type='checkbox' id='public' name='publicLeague' checked hidden)
          //- label(for='public') Make this league public.
        div
          button(type='submit') Start League
  script(src='/javascripts/new.js')