extends layout

block content
  h1 Fantasy Twitter
  div.main
    div.container
      a(href='/findtrends') Get Twitter Trends
      div.usTrends
      div.globalTrends
        if players
          ul
            for player in players
              li
                a(href=player.url)= player.name