body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body{
  height:100%
}

#messagediv {
  height: 600px;
  border: 1px solid black;
  padding: 0px;
  overflow: auto;
}

#messagediv ul{
  padding: 5px;
}

#messagediv li{
  list-style-type: none;
  margin: 0 auto;
}

#message_input {
  border: 1px solid black; padding: 10px; width: 85%;
}
#message_button {
  width: 15%; background: rgb(130, 224, 255); border: 1px solid black; padding: 10px;
}

button:disabled {
  opacity: .5;
}

#ready_users span {
  margin-right: 5px;
}

select option {
  font-size: 150%;
}