@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic);
body {
  font-family: 'Roboto', sans-serif;
  color: #292f33;
  background-color: #f5f8fa;
}

button {
  border-radius: 5px;
  color: #f5f8fa;
  background-color: #0084b4;
}


a {
  color: #00B7FF;
}

html, body{
  height:100%
}

#messagediv {
  height: 600px;
  border: 1px solid #e1e8ed;
  padding: 0px;
  overflow: auto;
}

#messagediv ul{
  padding: 5px;
}

#messagediv li{
  list-style-type: none;
  margin: 0 auto;
}

#message_input {
  border: 1px solid #e1e8ed; padding: 10px; width: 85%;
}
#message_button {
  color: #f5f8fa;
  background-color: #0084b4;
  width: 15%;
  border: 1px solid #e1e8ed; 
  padding: 10px;
  border-radius: 5px;
}

button:disabled {
  opacity: .5;
}

#ready_users span {
  margin-right: 5px;
}

select option {
  font-size: 150%;
}

.navbar-inverse {
  background-color: rgb(255, 255, 255);
  border: none;
  border-bottom: 1px solid #e1e8ed;
}

#messagediv, #message_input {
  background-color: #fff;
  border-radius: 5px
}

a {
  color: #0084B4;
  font-weight: bold;
}

.navbar-inverse button {
  color: #f5f8fa;
  background-color: #0084b4;
}

.navbar-inverse input {
  color: #f5f8fa;
  background-color: #0084b4;
}

.navbar-inverse img {
  border-radius: 5px;
}

#currentTurn {
  float: right;
}

#myTeam {
  padding-top: 0px;
  padding-left: 20px;
}

#myTeam li {
  margin: 0 auto;
}

.padding-6{
  padding: 5px;
}

.playerScore {
  border: 1px solid black;
  border-radius: 5px;
  list-style-type: none;
  padding: 5px;
}

.center {
  margin: auto;
  text-align: center;
}

.inner {
  border-top: 1px solid black;
  padding-top:2px;
}

.score {
  float: right;
}

.totalScore {
  text-align: center;
}