extends ../layout

block content
  div.main
    div.container
      h1.center= league.name
      each team in league.teams
        div.col-md-6
          h2.center= team.teamName
          h3
            ul
              each player in team.members
                div
                  div.playerScore.expander(id='#{player}')= player
                    span.score 0
                    div.content.inner(style='display: none')
          h2.totalScore 0
  script(src='/javascripts/show.js')