extends ../layout

block content
  div.main
    div.container
      h1= league.name
      each team in league.teams
        div.col-md-6
          h2 team.teamName
          h3
            ul
              each player in team.members
                li= player
  script(src='/javascripts/show.js')